.search-form{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
input{
    height: 40px;
    width: 300px;

}
button{
    height: 40px;
    width: 100px;
    margin: 5px;
}